body{
margin:0;
font-family:Arial;
background:#eef2ff;
}

.login-page{

display:flex;
justify-content:center;
align-items:center;

height:100vh;

background:linear-gradient(
135deg,
#667eea,
#764ba2
);

}

.login-card{

width:380px;

background:rgb(243, 157, 157);

padding:35px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.25);

text-align:center;

}

.login-card h1{

margin-bottom:10px;

}

.login-card p{

color:#666;

margin-bottom:25px;

}

.tabs{

display:flex;

margin-bottom:20px;

}

.tabs button{

flex:1;

padding:12px;

border:none;

background:#9e8181;

cursor:pointer;

font-size:16px;

}

.tabs .active{

background:#667eea;

color:white;

}

.login-card input{

width:100%;

padding:12px;

margin-top:12px;

border-radius:8px;

border:1px solid #ccc;

box-sizing:border-box;

}

.submit-btn{

margin-top:20px;

width:100%;

padding:12px;

background:#667eea;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}

.submit-btn:hover{

background:#4d5fd0;

}

.message{

margin-top:15px;

color:rgb(222, 147, 147);

font-size:14px;

}